html, body {
  background: linear-gradient(to bottom, rgba(52, 52, 54, 1.0), rgba(52, 52, 54, 1.0));
  color: white !important;
}

#user-drop-down {
  padding-right: 100px;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

pre > code {
  text-decoration: bold;
  color: white;
}