html, body {
    height: 100%;
    background: linear-gradient(to bottom, rgba(52, 52, 54, 1.0), rgba(52, 52, 54, 1.0));
    overflow: hidden;
}

.no-padding {
    padding: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

#user-drop-down {
    padding-right: 100px;
}

#main { 
    height: 100vh;
    overflow: hidden;
    /* margin: 0px;
    padding: 0px; */
}

.row-fill {
    height: 100%;
}
.action-buttons {
    padding-top: 20px;
}

.editor {
    height: 100%;
    resize: none;
    border: none;
    border-right: 1px solid gray;
    background: black;
    color: rgba(255, 255, 255, 0.86);
    overflow: auto;
 }
 .editor:focus {
     outline: none;
 }

 .results {
    height: 25%;
    border-bottom: 1px solid gray;
    background: black;
    color: rgba(255, 255, 255, 0.86);
    overflow: auto;
}

.output {
    height: 75%;
    background: black;
    color: rgba(255, 255, 255, 0.86);
    overflow: auto;
}

.margin-top {
    margin-top: 20px;
}

.buttons-right {
    position: absolute;
    right: 0;
    padding-right: 20px;
}

tbody > tr:hover {
    background: rgba(82, 80, 80, 0.26) !important;
}