@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:300');

* {
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 150%;
  font-family: 'Encode Sans Expanded', sans-serif;
}

html, body {
  background: linear-gradient(to bottom, rgba(52, 52, 54, 1.0), rgba(52, 52, 54, 1.0));
}

#user-drop-down {
	padding-right: 100px;
}

#main {
	padding-top: 20px;
}

.comments {
	padding-top: 15px;
}

.comment {
	margin-bottom: 10px;
}