{% extends "base_page.html" %}

{% block title %}<title>{{ page_title }}</title>{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/webscale-about.css' %}">
{% endblock %}

<!-- Content start-->
{% block content %}
<div id="main" class="container">
    <h1>About US</h1>
    <div class="row justify-content-center">
        <div class="col-7">
            <p>
                We are a group of five Computer Science students at the <a href="https://umass.edu">University of Massachusetts, Amherst</a>.
                We like understanding technologies that are at the forefront of computer science research. And, obviously, we like doing
                things at <strong>WEBSCALE</strong>.
            </p>
            <p>
                This project is part of a semester-long assignment for the class COMPSCI 326 (Web Programming) with <a href="https://www.cics.umass.edu/faculty/directory/richards_tim">Tim Richards</a>. This is an opportunity to create a web-based project completely by our own hands and using our own minds.
            </p>
            <p>
                You can find us on github:
                <ul>
                    <li><a href="https://github.com/JaredHolzman">Jared Holzman</a></li>
                    <li><a href="https://github.com/rachitnigam">Rachit Nigam</a></li>
                    <li><a href="https://github.com/maximberezin97">Maxim Berezin</a></li>
                    <li><a href="https://github.com/SeanBarker">Sean Barker</a></li>
                    <li><a href="https://github.com/StevenBorst">Steven Borst</a></li>
                </ul>
            </p>
        </div>
    </div>

    <footer class="footer">
        <hr class="footer-hr">
        <p>&copy; W E B S C A L E 2017, Distributed under the MIT License</p>
        <p>Contact us at <a href="mailto:webscale@fakemail.com">webscale@fakemail.com</a></p>
    </footer>

</div>
{% endblock %}
<!-- Content end-->

