{% extends "base_page.html" %}

{% block title %}<title>{{ page_title }}</title>{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/webscale-faq.css' %}">
{% endblock %}

<!-- Content start-->
{% block content %}
<div class="container">
    <h1>Frequently Asked Questions</h1>
    <div id="main" class="row justify-content-center">
        <div class="col-7">
            <p>
                <span><b>What does it do?</b></span>
                <br>
                <span>Given the input:</span>

                <span>
                    <pre>
                        <code>
                r = (x + ??) & ~(x - ??)
                done = 1
                i = W - 1
                        </code>
                    </pre>
                </span>

                <span>
                    <pre>
                        <code>
                repeat i: W {
                  if ((done == 0) &&
                     !(x & 1 << i) == 0) {
                    done = 1
                    r = 1 << i
                  }
                }
                done = 1
                        </code>
                    </pre>
                </span>

                <span>
                    The synthesizer will fill in the <b>??</b> with the right constants.
                    Note that this a non-trivial bit mask that is expressed easily as
                    a loop in the spec (the second piece of code).
                </span>
            </p>
            <p>
                <span class="question"><b>What if I already know the bit-mask?</b></span>
                <br>
                That's great! However, we believe that programs should be written
                in a way that is easy to read and maintain. A while loop in this
                case always truimps over bit-masking magic.

                We aim to bring together the benefits of expressive and fast running
                code using this synthesis technique. As programs grow more complex,
                we believe techniques like this would help program maintainability.
            </p>
            <p>
                <span class="question"><b>How well does it scale? Can it synthesize
                    constants for jQuery</b></span>
                <br>
                Short Answer, No. This program does not scale to jQuery well because
                of the underlying SAT solving algorithm's exponential complexity.
                However, developers usually write programs in small and meaningful
                chunks. The use case for this synthesizer is to build such simple
                pieces incrementally, using the tool when the developer thinks That
                bit-masking magic with help with performance.
            </p>
            <p>
                <span class="question"><b>How does this work?</b></span>
                <br>
                The synthesizer makes use of something called Counter-Example
                Driven code generation. We take an input spec and compile it into
                Hoare-logic style transformer. We then encode it into a SAT solver.
                We do the same for the sketched program and then give the SAT
                solver the constraint that the two programs must match on all
                inputs and get the results to the ??.
            </p>
            <p>
                <span><b>Is this project open source?</b></span>
                <br> Yes! Check it out at <a href="https://github.com/326-WEBSCALE/webscale-synthesizer">our github page</a>
            </p>
        </div>
    </div>

    <footer class="footer">
        <hr class="footer-hr">
        <p>&copy; W E B S C A L E 2017, Distributed under the MIT License</p>
        <p>Contact us at <a href="mailto:webscale@fakemail.com">webscale@fakemail.com</a></p>
    </footer>
</div>
{% endblock %}
<!-- Content end-->
