html, body {
    height: calc(100vh - 400px);
}

.main {
    height: 100%;
}

.header {
    left: 0;
    width: 100%;
    border: 1px solid gray;
}

.left-panel {
    position: absolute;
    left: 0;
    width: 195px;
    border: 1px solid gray;
    display: flex;
    flex-flow: column;
    /* TODO: Address this maybe */
    height: 100%;
}

.left-panel > .item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    position: relative;
    border: 1px solid gray;
    margin-left: 195px;
    height: 100%;
    display: flex;
}

.editor {
   width: 50%;
}

.results {
    border: 2px solid green;
    height: 25%;
    background: black;
    color: white;
}

.output {
    border: 2px solid blue;
    height: 25%;
    background: black;
    color: white;
}