html, body {
    height: 100%;
background: linear-gradient(to bottom, rgba(52, 52, 54, 0.87), rgba(52, 52, 54, 0.73))
/* background-color: #343436 !important; */
}


.main { 
    height: 100vh;
    overflow: hidden;
}

.header {
    left: 0;
    height: 90px;
    min-height: 90px;
    width: 100%;
    border: 1px solid gray;
    color: white;
}

.left-panel {
    position: absolute;
    left: 0;
    width: 150px;
    border: 1px solid gray;
    display: flex;
    flex-flow: column;
    /* TODO: Address this maybe */
    height: 90%;
}

.left-panel > .item {
    margin: 10px;
}

.content {
    position: relative;
    border: 1px solid rgba(80, 75, 75, 0.71);
    margin-left: 150px;
    height: 100%;
    display: flex;
}

.editor {
   width: 50%;
   resize: none;
   border: none;
   border-right: 1px solid gray;
   background: black;
   color: rgba(255, 255, 255, 0.86);
   overflow: auto;
}
.editor:focus {
    outline: none;
}

.synthesizer {
    width: 50%;
} 

.results {
    height: 25%;
    border-bottom: 1px solid gray;
    background: black;
    color: rgba(255, 255, 255, 0.86);
    overflow: auto;
}

.output {
    height: 75%;
    background: black;
    color: rgba(255, 255, 255, 0.86);
    overflow: auto;
}