{% extends "base_page.html" %}
{% block title %}<title>{{ page_title }}</title>{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/webscale-password_reset.css' %}">
{% endblock %}

<!-- Content start-->
{% block content %}

<form class="container" action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <span class="helptext">Enter your email address.</span>
        <p >{{ form.email }}</p>

    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>

{% endblock %}
