{% extends "base_page.html" %}

{% block title %}<title>{{ page_title }}</title>{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/webscale-discussion.css' %}">
{% endblock %}

<!-- Content start-->
{% block content %}
<div>
    <div id="main" class="container">
        <div class="row">
            <div class="card col-12">
                <div class="card-body">
                    <h4 class="card-title">{{ snippet_name }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ snippet_description }}</h6>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">Snippet</div>
                                    <div class="card-body">
                                        <pre>{{ snippet_text }}</pre>
                                        <!-- int secretOperation(int n) { -->
                                        <!-- return n >> ???; -->
                                        <!-- } -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">Synthesizer Output</div>
                                    <div class="card-body">
                                        <pre>{{ snippet_result }}</pre>
                                        <!-- int secretOperation(int n) { -->
                                        <!-- return n >> 0x9ef; -->
                                        <!-- } -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row comments">
            <div class="comments col-2">
            </div>
            <div class="comments col-8">
                {% for comment in snippet_comments %}
                <div class="card comment">
                    <div class="card-body">
                        <h4 class="card-title">{{ comment.0 }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ comment.2 }}</h6>
                        <p class="card-text">{{ comment.1 }}</p>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="card comment"> -->
                <!-- <div class="card-body"> -->
                <!-- <h4 class="card-title">John Smith</h4> -->
                <!-- <h6 class="card-subtitle mb-2 text-muted">14 hours ago</h6> -->
                <!-- <p class="card-text">What a great program! I'm going to use this.</p> -->
                <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="card comment"> -->
                <!-- <div class="card-body"> -->
                <!-- <h4 class="card-title">Jane Doe</h4> -->
                <!-- <h6 class="card-subtitle mb-2 text-muted">3 hours ago</h6> -->
                <!-- <p class="card-text">Looks like your code is inefficient, though.</p> -->
                <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>

    <footer class="footer">
        <hr class="footer-hr">
        <p>&copy; W E B S C A L E 2017, Distributed under the MIT License</p>
        <p>Contact us at <a href="mailto:webscale@fakemail.com">webscale@fakemail.com</a></p>
    </footer>

</div>
{% endblock %}
<!-- Content end -->

