{% extends "base_page.html" %}

{% block title %}<title>{{ page_title }}</title>{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/webscale-discussion.css' %}">
{% endblock %}

<!-- Content start-->
{% block content %}
<div id="main" class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-12">
                <div class="card-body">
                    <h4 class="card-title">My interesting program!</h4>
                    <h6 class="card-subtitle mb-2 text-muted">this was a program I wrote for a class in college.</h6>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">Input</div>
                                    <div class="card-body">
                                        <pre>
  int secretOperation(int n) {
    return n >> ???;
  }
                                        </pre>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">Output</div>
                                    <div class="card-body">
                                        <pre>
  int secretOperation(int n) {
    return n >> 0x9ef;
  }
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row comments">
            <div class="comments col-6">
                <div class="card comment">
                    <div class="card-body">
                        <h4 class="card-title">John Smith</h4>
                        <h6 class="card-subtitle mb-2 text-muted">14 hours ago</h6>
                        <p class="card-text">What a great program! I'm going to use this.</p>
                    </div>
                </div>
                <div class="card comment">
                    <div class="card-body">
                        <h4 class="card-title">Jane Doe</h4>
                        <h6 class="card-subtitle mb-2 text-muted">3 hours ago</h6>
                        <p class="card-text">Looks like your code is inefficient, though.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <hr class="footer-hr">
        <p>&copy; W E B S C A L E 2017, Distributed under the MIT License</p>
        <p>Contact us at <a href="mailto:webscale@fakemail.com">webscale@fakemail.com</a></p>
    </footer>

</div>
{% endblock %}
<!-- Content end -->

