{% extends "base_page.html" %}

{% block title %}<title>{{ page_title }}</title>{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/webscale-profile.css' %}">
{% endblock %}

<!-- Content start-->
{% block content %}
<div id="main" class="container">
    <div class="row">
        <div class="col-6">
            <h1>{{ user.name }}</h1>
        </div>
        <div class="col-3"><!-- Couldn't get offset to work, temp fix--></div>
        <div class="col-3 profile-picture-container">
            <img class="rounded profile-picture profile-picture-small" alt="Profile Picture" src="{% static 'images/deer.jpg' %}">
        </div>
    </div>
    <hr class="heading-hr">

    <div class="row">
        <h4>Saved Programs:</h4>
        <table class="table table-striped program-table">
            <thead>
                <tr>
                    <th>Program Name</th>
                    <th>Description</th>
                    <th>Public</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CS230 HW Assignment 4</td>
                    <td>Fourth hw asignment for CS230. Couldn't figure out the bit mask value, so I am using Synthesizer to help me out.
                    </td>
                    <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                    <td><button type="button" class="btn btn-danger btn-sm" aria-label="Delete">Delete</button></td>
                </tr>
                <tr>
                    <td>Spire Automator</td>
                    <td>This synthesizer is just what I needed for my personal project. I know I'll get in to CS326 now!</td>
                    <td class="text-center"><input type="checkbox" class="form-check-input" checked="true"></td>
                    <td><button type="button" class="btn btn-danger btn-sm" aria-label="Delete">Delete</button></td>
                </tr>
                <tr>
                    <td>Twitter GeoVisualizer</td>
                    <td>I've always wanted to know where all these pesky tweeters are and with Synthesizer's help I can finally see. </td>
                    <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                    <td><button type="button" class="btn btn-danger btn-sm" aria-label="Delete">Delete</button></td>
                </tr>
                <tr>
                    <td>Side Project</td>
                    <td>New <del>death-ray</del> peace-ray I'm working on and I'd rather not worry about the constants. THANKS Synthesizer!</td>
                    <td class="text-center"><input type="checkbox" class="form-check-input" checked="true"></td>
                    <td><button type="button" class="btn btn-danger btn-sm" aria-label="Delete">Delete</button></td>
                </tr>
            </tbody>
    </div>

    <footer class="footer">
        <hr class="footer-hr">
        <p>&copy; W E B S C A L E 2017, Distributed under the MIT License</p>
        <p>Contact us at <a href="mailto:webscale@fakemail.com">webscale@fakemail.com</a></p>
    </footer>

</div>
{% endblock %}
<!-- Content end-->
