{% extends "base_page.html" %}

{% block extra_assets %}
{% load static %}
<script src="{% static 'js/ace-min-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}

{% block content %}

<script type="text/javascript">
    function getText(fromId) {
        const fieldValue = document.getElementById(fromId)
                                .getElementsByClassName("ace_content")[0]
                                .innerText;
        const extractedText = fieldValue.trim() == '' ? null : fieldValue;
        return extractedText;
    }

    function onSynthesize(){
        const csrftoken = Cookies.get('csrftoken');
        const snippetID = "{{ snippet_id }}";
        const spec = getText("spec_editor");
        const sketch = getText("snippet_editor");
        let xhttp = new XMLHttpRequest();
        xhttp.open("POST", "{% url 'synthesize' %}", true);
        xhttp.setRequestHeader("X-CSRFToken", csrftoken);
        xhttp.send(JSON.stringify({
            'spec': spec,
            'sketch': sketch,
            'snippet_id': snippetID
        }));
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                /* document.getElementById("demo").innerHTML = this.responseText;*/
                const response = JSON.parse(this.response);
                let out_editor = ace.edit('synth_results');
                out_editor.setValue(response.synth_out, 1);
                out_editor.focus();
                var row = out_editor.session.getLength() - 1
                var column =  Infinity // or simply Infinity
                out_editor.selection.moveTo(row - 1, column);
                out_editor.selection.moveTo(0, 0);
            }
        };
    }
</script>

<!-- Content start-->
<div id="main" class="container-fluid">
    <div class="row row-fill">
        <!-- Sidebar start -->
        <div class="col-1">
            <div class="btn-group-vertical action-buttons">
                <button type="button" onclick="onSynthesize()" class="btn btn-primary item">Synthesize!</button>
                <a id="discuss-button" href="{% url 'discussion' snippet_id %}" class="btn btn-warning item" style="display: none;">Discuss</a>
                {% if request.user.is_authenticated %}
                <button type="button" data-toggle="modal" href="#save-modal" class="btn btn-info item">Save</button>
                <button type="button" data-toggle="modal" href="#load-modal" class="btn btn-info item">Load</button>
                {% if snippet_id %}
                <button type="button" data-toggle="modal" href="#export-modal" class="btn btn-info item">Export</button>
                {% endif %}
                {% endif %}
                <button type="button" data-toggle="modal" href="#search-modal" class="btn btn-info item">Search</button>
            </div>
        </div>
        <!-- Sidebar end -->

        <!-- Synthesizer start  -->
        <div class="col-11 no-padding-right">
            <div class="row row-fill">

                <!-- Editor Start  -->
                <div class="col-6 no-padding-right">

                    <span id="snip_name" class="section-title">Program Specification{{ snippet_name }}</span>
                    <!-- <textarea class="form-control editor" placeholder="Type your program here...">TODO: Update model to include this. I think that this is necessary, but not sure.</textarea> -->
                    <div id="spec_editor" class="editor">{{  snippet_spec }}</div>

                </div>
                <!-- Editor End  -->
                <!-- Outputs start -->
                <div class="col-6 no-padding">
                    <span class="section-title">Output</span>
                    <div id="synth_results" class="results">{{ snippet_result }}</div>
                    <span class="section-title">Program Sketch</span>
                    <!-- <textarea class="form-control editor" placeholder="Type your program here...">{{ snippet_text }}</textarea> -->
                    <div id="snippet_editor" class="editor">{{  snippet_text }}</div>
                </div>
                <!-- Outputs end -->
            </div>
        </div>
        <!-- Synthesizer end-->
    </div>
</div>
<!-- Content end-->


<!-- Save modal start -->
<div class="modal" id="save-modal" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="save-modal-label">Save Program</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal content start -->
            <div class="modal-body">
                <form method="POST" action="" id="save-form">
                    {% csrf_token %}

                    <!-- <input class="form-control" type="text" placeholder="Type the program's name here..." name="name" id="id_name">
                    <input class="form-control" type="text" placeholder="Type a description here..." name="desc" id="id_desc">

                    <label class="col-3">Make Public</label>
                    <input class="form-check-input" type="checkbox" name="is_public" id="id_is_public"> -->

                <div class="form-group row">
                    <label for="name-input" class="col-3 col-form-label">Name</label>
                    <div class="col-9">
                        {% if snippet_id %}
                        <input class="form-control" type="text" value="{{ snippet_actual_name }}" name="name" id="id_name">
                        {% else %}
                        <input class="form-control" type="text" placeholder="Name" name="name" id="id_name">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description-input" class="col-3 col-form-label">Description</label>
                    <div class="col-9">
                        {% if snippet_id %}
                        <input class="form-control" type="text" value="{{ snippet_description }}" name="desc" id="id_desc">
                        {% else %}
                        <input class="form-control" type="text" placeholder="Description" name="desc" id="id_desc">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3">Make Public</label>
                    <div class="col-9">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name = "is_public" id="id_is_public">
                            </label>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    function hiddenField(name, fromId) {
                        let program = document.createElement("textarea");
                        program.type = "text";
                        const fieldValue = document.getElementById(fromId)
                                                   .getElementsByClassName("ace_content")[0]
                                                   .innerText;
                        program.value = fieldValue.trim() == '' ? "nothing" : fieldValue;
                        program.name = name;
                        program.id = name;
                        program.style.visibility = "hidden";
                        program.style.position = "absolute";
                        return program;
                    }

                    function onSaveSubmit() {
                        let form = document.getElementById("save-form")
                        let program = document.createElement("input")
                        form.appendChild(hiddenField("program", "spec_editor"))
                        form.appendChild(hiddenField("spec", "snippet_editor"))
                        form.appendChild(hiddenField("output", "synth_results"))
                        // document.getElementById("save-submit").submit()
                    }
                </script>
                <button type="submit" onclick="onSaveSubmit()" class="btn btn-primary" id="save-submit">Save changes</button>
                </form>
            </div>
            <!-- Modal content end -->

        </div>
    </div>
</div>
<!-- Save modal end -->

<!-- Load modal start -->
<div class="modal" id="load-modal" tabindex="-1" role="dialog" aria-labelledby="load-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="load-modal-label">Load Program</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal content start -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="buttons-right">
                            <div class="btn-group" role="group" aria-label="Import actions">
                                <button type="button" class="btn btn-outline-secondary btn-sm">Import from file</button>
                                <button type="button" class="btn btn-outline-secondary btn-sm">Import from Google Drive</button>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top">
                        <h4>Saved Programs:</h4>
                        <table class="table table-striped program-table">
                            <thead>
                                <tr>
                                    <th>Program Name</th>
                                    <th>Description</th>
                                    <th>Load</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for snip in user_snippets %}
                                <tr>
                                    <td>{{snip.1}}</td>
                                    <td>{{snip.2}}</td>
                                    <td><a href="{% url 'program' snip.0 %}" class="btn btn-primary btn-sm" aria-label="Close">Load</a></td>
                                <tr>
                                {% empty %}
                                <tr>
                                    <td> No snippets to display. Create one!</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Modal content end -->

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Load modal end -->


<!-- Export modal start -->
<div class="modal" id="export-modal" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="save-modal-label">Save Program</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="export-form">
                    <div class="form-group row">
                        <label for="name-input" class="col-3 col-form-label">Name</label>
                        <div class="col-9">
                            <input class="form-control" type="text" value="{{ snippet_actual_name }}" name="name" id="id_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description-input" class="col-3 col-form-label">Description</label>
                        <div class="col-9">
                            <input class="form-control" type="text" value="{{ snippet_description }}" name="desc" id="id_desc">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="download()" data-dismiss="modal">Download</button>
                <div class="btn-group">
                    <button id="authorize-button" type="button" class="btn btn-primary" data-dismiss="modal">Export to Google Drive</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'js/authentication.js' %}" type="text/javascript" charset="utf-8"></script>

<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>

<script type="text/javascript">
 function download() {
     const sketch = getText("snippet_editor");
     const spec = getText("spec_editor");
     const output = getText("synth_results");

     const filename = document.getElementById('snip_name').innerText.slice(23);
     const filedata = "Sketch:\n" + sketch + "\nSpec:\n" + spec
                   + "\nSynthesized Output:\n" + output;
     const type = "text/plain";

     var file = new Blob([filedata], {type: type});
     if (window.navigator.msSaveOrOpenBlob) // IE10+
         window.navigator.msSaveOrOpenBlob(file, filename);
     else { // Others
         var a = document.createElement("a"),
             url = URL.createObjectURL(file);
         a.href = url;
         a.download = filename;
         document.body.appendChild(a);
         a.click();
         setTimeout(function() {
             document.body.removeChild(a);
             window.URL.revokeObjectURL(url);
         }, 0);
     }
 }
</script>

<!-- Export modal end -->

<!-- Search modal start -->
<div class="modal" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="search-modal-label" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="search-modal-label">Search Programs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal content start -->
            <div class="modal-body">

                <div class="container-fluid">
                  <form id="searchform" method="GET" accept-charset="utf-8">
                    {% csrf_token %}
                        <div class="row">
                            <div class="input-group input-group-lg">
                              <input type="text" class="form-control" placeholder="Search for the name of a program."/>
                              <div class="input-group-btn">
                                <button class="btn" type="submit">Search</button>
                              </div>
                          </div>
                      </div>
                  </form>
                    <!-- <form role="form">
                        <div class="row">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" placeholder="Search for the name of a program."/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn">Search</button>
                                </div>
                            </div>
                        </div>
                    </form> -->

                    <div class="row margin-top">
                        <h4>Search Results:</h4>
                        <table class="table table-striped program-table">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Program Name</th>
                                    <th>Description</th>
                                    <th>Load</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for snip in snippits %}
                                <tr>
                                    <td>{{snip.user_full_name}}</td>
                                    <td>{{snip.name}}</td>
                                  <td>{{snip.description}}</td>
                                    <a class="btn btn-success btn-small" href="{% url 'program' snippit.id.hex %}">Load</a>
                                <tr>
                                {% empty %}
                                <tr>
                                    <td> Enter your search to view results.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal content end -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search modal end -->

<script type="text/javascript">
 const snippetID = "{{ snippet_id }}";
 const element = document.getElementById('discuss-button');
 if (snippetID != '') {
     element.style.display = "";
 }
</script>
<script>
 const spec_editor = ace.edit("spec_editor");
 const snippet_editor = ace.edit("snippet_editor");
 const synth_results = ace.edit("synth_results");

 spec_editor.setTheme("ace/theme/monokai");
 spec_editor.getSession().setMode("ace/mode/python");
 spec_editor.session.setUseWorker(false)
 spec_editor.setShowPrintMargin(false);

 snippet_editor.setTheme("ace/theme/monokai");
 snippet_editor.getSession().setMode("ace/mode/python");
 snippet_editor.session.setUseWorker(false)
 snippet_editor.setShowPrintMargin(false);

 synth_results.setTheme("ace/theme/monokai");
 synth_results.getSession().setMode("ace/mode/python");
 synth_results.session.setUseWorker(false)
 synth_results.setShowPrintMargin(true);
 synth_results.renderer.setShowGutter(false);
 synth_results.setOptions({
     readOnly: true,
     scrollPastEnd: true
 });
 synth_results.resize();
</script>
{% endblock %}
