{% extends "base_page.html" %}

{% block title %}<title>{{ page_title }}</title>{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/webscale-profile.css' %}">
{% endblock %}

<!-- Content start-->
{% block content %}
<div id="main" class="container">
    <div class="row">
        <div class="col-6">
            <h1>{{ user.name }}</h1>
       </div>
        <div class="col-3 profile-header-middle">
            {% if user.name == "Steven Borst" %}
            <a href="{% url 'profile_edit' %}">edit profile</a>
            {% endif %}
        </div>
        <div class="col-3 profile-picture-container">
            <img class="rounded profile-picture profile-picture-small" alt="Profile Picture" src="{% static 'images/deer.jpg' %}">
        </div>
    </div>
    <hr class="heading-hr">

    <div class="row">
        <h4>Saved Programs:</h4>
        <table class="table table-striped program-table">
            <thead>
                <tr>
                    <th>Program Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for program in programs %}
                <tr>
                    <td><a href="{% url 'program' program.id.hex %}">{{program.name}}<a/></td>
                    <td>{{program.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
    </div>

    <footer class="footer">
        <hr class="footer-hr">
        <p>&copy; W E B S C A L E 2017, Distributed under the MIT License</p>
        <p>Contact us at <a href="mailto:webscale@fakemail.com">webscale@fakemail.com</a></p>
    </footer>

</div>
{% endblock %}
<!-- Content end-->
